* {
    margin: 0;
    padding: 0;
    font-family: "Patrick Hand", cursive;
    font-weight: 800;
    font-style: normal;
}

body {
    /* background-image: url(Assets/background.webp); */
    background-image: url(Assets/Wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* cursor: url("Assets/spongebob-cursor.cur"),pointer !important;  */
}

.text1 {
    cursor: url('Assets/spongebob-cursor.png w'), auto;
    color: white;
    text-align: center;
    font-size: 5.5rem;
    text-shadow: 4px 4px 5px red;
}

.text2 {
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 2.4rem;
    position: relative;
    margin-top: 2.2rem;
    /* bottom: 5px; */
    text-shadow: 4px 4px 5px rgb(0 30 255);
}

.bear1 {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 40px;
    width: 12vw;
}

.bear2 {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 40px;
    width: 12vw;
}

#win {
    width: 45%;
    position: absolute;
    margin: auto;
    top: 0px;
    z-index: 99;
    display: none;
    border-radius: 30px;
}

#lose {
    width: 45%;
    position: absolute;
    margin: auto;
    top: 0px;
    z-index: 99;
    display: none;
    border-radius: 30px;
}

#tie {
    width: 45%;
    position: absolute;
    margin: auto;
    top: 0px;
    z-index: 99;
    display: none;
    border-radius: 30px;
}

.choices {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: 40px; */
    position: relative;
    gap: 16vw;
    height: 80vh;
    left: 33px;
    width: 90%;
    margin: auto;
    z-index: 1;
    border-radius: 40px;
}

#img1 {
    width: 11.2%;
    cursor: pointer;
    border-radius: 20px;
    transition: all 1s linear;
}


#img1:hover {
    width: 11.5%;
    box-shadow: -1px 0px 20px 18px rgb(70, 148, 5);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

#img1:focus {
    width: 12%;
    box-shadow: -1px 0px 20px 18px rgb(70, 148, 5);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

#img2 {
    width: 19%;
    cursor: pointer;
    border-radius: 20px;
    transition: all 1s linear;
}

#img2:hover {
    width: 19.5%;
    box-shadow: 0px 0px 20px 18px rgb(13 193 242);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

#img2:focus {
    width: 20%;
    box-shadow: 0px 0px 20px 18px rgb(13 193 242);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

#img3 {
    width: 22%;
    cursor: pointer;
    border-radius: 10px;
    transition: all 1s linear;
}

#img3:hover {
    width: 22.2%;
    box-shadow: 0px 0px 20px 18px rgb(101 54 20);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

#img3:focus {
    width: 23%;
    box-shadow: 0px 0px 20px 18px rgb(101 54 20);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 90px;
    right: 15px;
}

#btn {
    z-index: 2;
    font-size: 3.1vw;
    padding: 0.4vw 2.8vw;
    border-radius: 15px;
    background-color: rgb(233 31 72);
    border: 2px solid rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    transition: all 1s linear;
}

#btn:hover {
    padding: 0.7vw 3.5vw;
    position: relative;
    bottom: 2px;
    transition: all .4s linear;
    background-color: rgb(255, 0, 51);
}

#btn:focus {
    padding: 0.8vw 4vw;
    position: relative;
    bottom: 2px;
    left: 6px;
    outline: 4px outset rgb(246, 255, 0);
    background-color: rgb(255, 0, 51);
    transition: outline .1s linear, left 0.7s linear;
}

#playAgainBtn {
    z-index: 2;
    display: none;
    left: -48%;
    font-size: 2vw;
    padding: 1.5vw 2vw;
    border-radius: 15px;
    background-color: rgb(233 31 72);
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    color: white;
    cursor: pointer;
    transition: all 1s linear;
    transition: left 1s linear;
}

#playAgainBtn:hover {
    font-size: 2.2vw;
    transition: all .4s linear;
    background-color: rgb(255, 0, 51);
}

#playAgainBtn:focus {
    font-size: 2.2vw;
    transition: all .1s linear;
    outline: 4px outset rgb(246, 255, 0);
    background-color: rgb(255, 0, 51);
}

footer {
    height: 12vw;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 3vw;
    top: 8px;
}

.text3 {
    cursor: pointer;
    text-shadow: 4px 4px 5px rgb(163 2 202);
}

.btn2 {
    padding: 5px;
    color: rgb(45, 44, 44);
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.92);
    outline: 3px outset rgb(255, 255, 255);
    cursor: pointer;
}

.btn2:hover {
    outline: 3px inset rgb(252, 252, 252);
}

footer .img {
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .choices {
        gap: 12vw;
    }

    #img1 {
        width: 18%;
    }

    #img1:hover {
        width: 18.5%;
    }

    #img1:focus {
        width: 19%;
    }

    #img2 {
        width: 30%;
    }

    #img2:hover {
        width: 30.5%;
    }

    #img2:focus {
        width: 40%;
    }

    #img3 {
        width: 37%;
    }

    #img3:hover {
        width: 37.2%;
    }

    #img3:focus {
        width: 38%;
    }

    #btn {
        font-size: 6vh;
        padding: 0.8vh 4vh;
    }

    #btn:hover {
        padding: 1vw 4.5vw;
    }

    #btn:focus {
        padding: 1.1vw 4.5vw;
    }

    #playAgainBtn {
        font-size: 1.4rem;
        padding: 2.5vw 3vw;
    }

    #playAgainBtn:hover {
        padding: 2.7vw 3.5vw;
    }

    #playAgainBtn:focus {
        padding: 2.8vw 3.5vw;
    }

    footer {
        height: 20vh;
    }

    .bear1 {
        top: 80px;
        right: 40px;
        width: 15vw;
    }

    .bear2 {
        top: 80px;
        left: 40px;
        width: 15vw;
    }

    #win {
        width: 75%;
    }

    #lose {
        width: 75%;
    }

    #tie {
        width: 75%;
    }

}

@media only screen and (max-width: 600px) {
    .text1 {
        font-size: 3.8rem;
    }

    .text2 {
        font-size: 1.8rem;
    }

    .text3 {
        font-size: 2rem;
    }

    #img1 {
        width: 22%;
    }

    #img1:hover {
        width: 22.5%;
    }

    #img1:focus {
        width: 23%;
    }

    #img2 {
        width: 40%;
    }

    #img2:hover {
        width: 40.5%;
    }

    #img2:focus {
        width: 41%;
    }

    #img3 {
        width: 40%;
    }

    #img3:hover {
        width: 40.2%;
    }

    #img3:focus {
        width: 41%;
    }

    .choices {
        height: 50vh;
        gap: 6vw;
    }

    #btn {
        font-size: 5vh;
        padding: 0.9vh 3.2vh;
    }

    #btn:hover {
        padding: 1.2vh 4.2vh;
    }

    #btn:focus {
        padding: 1.3vh 4.2vh;
    }

    #playAgainBtn {
        font-size: 1.4rem;
        padding: 2.5vw 3vw;
    }

    #playAgainBtn:hover {
        padding: 2.7vw 3.5vw;
    }

    #playAgainBtn:focus {
        padding: 2.8vw 3.5vw;
    }

    .btn {
        bottom: 50px;
        right: 0px;
    }

    .bear1 {
        display: none;
    }

    .bear2 {
        display: none;
    }

    footer {
        height: 27vh;
    }

    #win {
        width: 80%;
    }

    #lose {
        width: 80%;
    }

    #tie {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .text1 {
        text-shadow: 4px 4px 6px rgb(255, 42, 42);   
    }
    .text2 {
        bottom: 10px;
        text-shadow: 4px 4px 6px rgb(61, 84, 255);
    }

    #img1 {
        width: 25%;
    }

    #img1:hover {
        width: 25.5%;
    }

    #img1:focus {
        width: 26%;
    }

    #img2 {
        width: 43%;
    }

    #img2:hover {
        width: 43.5%;
    }

    #img2:focus {
        width: 44%;
    }

    #img3 {
        width: 40%;
    }

    #img3:hover {
        width: 40.2%;
    }

    #img3:focus {
        width: 41%;
    }

    .choices {
        bottom: 15px;
        height: 42vh;
        left: 13px;
        gap: 3vw;
    }

    footer {
        height: 33.55vh;
    }

    #win {
        width: 92%;
    }

    #lose {
        width: 92%;
    }

    #tie {
        width: 92%;
    }

    #btn {
        font-size: 8vw;
        padding: 2.3vw 6vw;
    }

    #btn:hover {
        padding: 2.4vw 7vw;
        outline: 3px outset rgb(246, 255, 0);
    }

    #btn:focus {
        padding: 2.4vw 7vw;
        outline: 3px outset rgb(246, 255, 0);
    }

    #playAgainBtn {
        left: 45%;
        font-size: 1.5rem;
        padding: 3.2vw 3.5vw;
    }

    #playAgainBtn:hover {
        left: 45%;
        padding: 3.4vw 4.2vw;
    }

    #playAgainBtn:focus {
        left: 45%;
        padding: 3.6vw 4.2vw;
    }
}