* {
    margin: 0;
    padding: 0;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: linear-gradient(rgba(119, 255, 0, 0.849), rgb(124 227 255));
    /* height: 100%; */
}

.text1 {
    color: white;
    text-align: center;
    font-size: 5rem;
    text-shadow: 4px 4px 5px red;
}

.text2 {
    color: white;
    text-align: center;
    font-size: 2.4rem;
    position: relative;
    margin-top: 2.2rem;
    text-shadow: 4px 4px 5px rgb(0, 191, 255);
}

.bear1 {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 12vw;
}

.bear2 {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 12vw;
}

#win {
    width: 45%;
    position: absolute;
    margin: auto;
    top: 0px;
    z-index: 99;
    display: none;
}

#lose {
    width: 45%;
    position: absolute;
    margin: auto;
    top: 0px;
    z-index: 99;
    display: none;
}

#tie {
    width: 45%;
    position: absolute;
    margin: auto;
    top: 0px;
    z-index: 99;
    display: none;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 16vw;
    height: 70vh;
    bottom: 25px;
    left: 10px;
    width: 80vw;
    margin: auto;
}

#img1 {
    width: 11.2%;
    cursor: pointer;
    border-radius: 20px;
    transition: all 1s linear;
}


#img1:hover {
    width: 11.5%;
    box-shadow: -1px 0px 20px 12px rgb(70, 148, 5);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

#img1:focus {
    width: 12%;
    box-shadow: -1px 0px 20px 15px rgb(70, 148, 5);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

#img2 {
    width: 19%;
    cursor: pointer;
    border-radius: 20px;
    transition: all 1s linear;
}

#img2:hover {
    width: 19.5%;
    box-shadow: 0px 0px 20px 15px rgb(13 193 242);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

#img2:focus {
    width: 20%;
    box-shadow: 0px 0px 20px 15px rgb(13 193 242);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

#img3 {
    width: 22%;
    cursor: pointer;
    border-radius: 10px;
    transition: all 1s linear;
}

#img3:hover {
    width: 22.2%;
    box-shadow: 0px 0px 20px 15px rgb(101 54 20);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

#img3:focus {
    width: 23%;
    box-shadow: 0px 0px 20px 15px rgb(101 54 20);
    position: relative;
    bottom: 5px;
    transition: all .5s linear;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 90px;
    right: 15px;
}

#btn {
    font-size: 3.5vw;
    padding: 0.7vw 3vw;
    border-radius: 15px;
    background-color: rgb(233 31 72);
    border: none;
    color: white;
    cursor: pointer;
    transition: all 1s linear;
}

#btn:hover {
    padding: 1vw 4vw;
    position: relative;
    bottom: 2px;
    transition: all .4s linear;
    background-color: rgb(255, 0, 51);
}

#btn:focus {
    padding: 1.1vw 4vw;
    position: relative;
    bottom: 2px;
    transition: all .1s linear;
    outline: 5px outset rgb(246, 255, 0);
    background-color: rgb(255, 0, 51);
}

footer {
    height: 12vw;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 3vw;
    top: 8px;
}

.text3 {
    text-shadow: 4px 4px 5px rgb(0 30 255);
}

.btn2 {
    padding: 5px;
    color: rgb(45, 44, 44);
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.92);
    outline: 3px outset rgb(255, 255, 255);
    cursor: pointer;
}

.btn2:hover {
    outline: 3px inset rgb(252, 252, 252);
}

footer .img {
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .choices {
        gap: 12vw;
    }

    #img1 {
        width: 18%;
    }

    #img1:hover {
        width: 18.5%;
    }

    #img1:focus {
        width: 19%;
    }

    #img2 {
        width: 30%;
    }

    #img2:hover {
        width: 30.5%;
    }

    #img2:focus {
        width: 40%;
    }

    #img3 {
        width: 37%;
    }

    #img3:hover {
        width: 37.2%;
    }

    #img3:focus {
        width: 38%;
    }

    #btn {
        font-size: 6vh;
        padding: 0.8vh 4vh;
    }

    #btn:hover {
        padding: 1vw 4.5vw;
    }

    #btn:focus {
        padding: 1.1vw 4.5vw;
    }

    footer {
        height: 20vh;
    }

    .bear1 {
        top: 80px;
        right: 40px;
        width: 15vw;
    }

    .bear2 {
        top: 80px;
        left: 40px;
        width: 15vw;
    }

    #win {
        width: 75%;
    }

    #lose {
        width: 75%;
    }

    #tie {
        width: 75%;
    }

}

@media only screen and (max-width: 600px) {
    .text1 {
        font-size: 3.8rem;
    }

    .text2 {
        font-size: 1.8rem;
    }

    .text3 {
        font-size: 2rem;
    }

    #img1 {
        width: 22%;
    }

    #img1:hover {
        width: 22.5%;
    }

    #img1:focus {
        width: 23%;
    }

    #img2 {
        width: 40%;
    }

    #img2:hover {
        width: 40.5%;
    }

    #img2:focus {
        width: 41%;
    }

    #img3 {
        width: 40%;
    }

    #img3:hover {
        width: 40.2%;
    }

    #img3:focus {
        width: 41%;
    }

    .choices {
        height: 50vh;
        gap: 6vw;
    }

    #btn {
        font-size: 4vh;
        padding: 0.7vh 3vh;
    }

    #btn:hover {
        padding: 1vh 4vh;
    }

    #btn:focus {
        padding: 1.1vh 4vh;
    }

    .btn {
        bottom: 50px;
        right: 0px;
    }

    .bear1 {
        display: none;
    }

    .bear2 {
        display: none;
    }

    footer {
        height: 27vh;
    }

    #win {
        width: 80%;
    }

    #lose {
        width: 80%;
    }

    #tie {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .choices {
        height: 42vh;
        left: 10px;
    }

    footer {
        height: 31vh;
    }

    #win {
        width: 92%;
    }

    #lose {
        width: 92%;
    }

    #tie {
        width: 92%;
    }

    #btn {
        font-size: 6vw;
        padding: 2.3vw 6vw;
    }
    #btn:hover{
        padding: 2.4vw 6.5vw;
        outline: 3px outset rgb(246, 255, 0);
    }
    #btn:focus{
        padding: 2.4vw 6.5vw;
        outline: 3px outset rgb(246, 255, 0);
    }
}